@use "/src/style/variables" as style;

.FilterDishes {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    .filterButton {
        font-size: 1.4rem;
        color: #9ea1a2;
        margin: 0 10px;
        font-weight: 500;
        background-color: style.$color3;
        text-transform: uppercase;
        padding: 19px 30px;
        border-radius: 5px;
        cursor: pointer;
        &Active {
            background-color: style.$color4;
            color: style.$color1;
        }
    }
}