@use "/src/utils/variablesSCSS/variables" as style;

.reservationBlock {
    display: flex;
    justify-content: center;
    padding: 70px 0;
    background-color: style.$color2;

}
.imageGalleryBlock {
    background-color: style.$color2;
}

.BrandsBlock {
    background-color: style.$color2;
    padding: 70px 0;
}