@use "/src/style/variables" as style;

.reservationWrapper {
    display: flex;
    justify-content: center;
    background-color: style.$color2;
    padding: 130px 0;
}

.reservationBlock {
    display: flex;
    justify-content: center;
    padding: 70px 0;
    background-color: style.$color2;

}
.imageGalleryBlock {
    background-color: style.$color2;
}

.BrandsBlock {
    background-color: style.$color2;
    padding: 70px 0;
}