@use "/src/utils/variablesSCSS/variables" as style;


.nav {
    display: flex;
    
}
.navItem {
    display: flex;
    align-items: center;
    height: 50px;
    cursor: pointer;
    position: relative;
    margin: 0 15px;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    &:hover span{
        color: style.$color4; 
    }
    
    span {
        transition: 0.7s;
    }
}

.imageCart {
    height: 2.3rem;
    filter: invert(100%);
}