@use "/src/utils/variablesSCSS/variables" as style;

.ProceedToBooking {
    position: relative;
    background-image:linear-gradient(rgb(14, 19, 23, 0.6), rgb(14, 19, 23, 0.6)), url(/public/background/proceedToBooking/image1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
}

.contentBox {
    padding: 70px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infoBlock {

    .subtitle {
        text-transform: uppercase;
        color: style.$color4;
        font-size: 1.6rem;
        margin-bottom: 10px;
    }
    .title {
        font-weight: 400;
        font-family: style.$fontFamily;
        color: style.$color1;
        font-size: 4.2rem;
    }
}