@use "/src/utils/variablesSCSS/variables" as style;

.DishCard {
    display: grid;
    grid-template-columns: min-content auto;
    margin-bottom: 30px;
}

.image {
    border-radius: 15px;
    height: 100px;
    width: 100px;
    background-position: center;
    background-size: cover;
}

.info {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.infoTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.4rem;
    .name {
        font-family: style.$fontFamily;
    }
    .price {
        color: style.$color4;
    }
}

.description {
    font-size: 1.4rem;
    font-weight: 300;
    color: style.$color5;
}

.infoBottom {
    display: flex;
    justify-content: space-between;
    .deleteImage {
        cursor: pointer;
        height: 20px;
        filter: invert(100%);
    }
}

.counterBlock {
    display: flex;
}