@use "/src/utils/variablesSCSS/variables" as style;


.ImageGallery {
    padding-top: 130px;
    background-color: style.$color3;
}

.ImageGalleryBackgroundBox {
    background-color: style.$color2;

}

