@use "/src/style/variables" as style;

.Cart {
    background-color: style.$color2;
    min-height: calc(100vh - 533px);
}

.cartWrapper {
    display: grid;
    grid-template-columns: auto 400px;
    gap: 100px;
}

