@use "/src/style/variables" as style;

.dishCount {
    font-size: 5rem;
    font-weight: 400;
    margin-bottom: 70px;
    font-family: style.$fontFamily;
    text-transform: uppercase;
    color: style.$color1;
}