@use "/src/style/variables" as style;

.Header {
    position: sticky;
    top: 0;
    z-index: 10;
}

.bottom {
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: style.$color2;
   
    .logo {
        font-size: 3rem;
        font-family: style.$fontFamily;
    }
}
