@use "/src/style/variables" as style;

.reservation {
    border-top: 3px solid style.$color4;
    width: 100%;
    max-width: 770px;
    text-align: center;
    background-color: style.$color3;
    padding: 80px 45px 45px;
}

.form {
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto ;
    grid-column-gap: 24px;
    grid-row-gap: 20px;
    
    .item {
        position: relative;
    }

    .buttonBox {
        display: flex;
        justify-content: center;
        grid-column: 1 / 3;

    }
}
.itemInput {
    padding: 0 60px 0 20px;
    background-color: style.$color3;
    height: 60px;
    width: 100%;
    border: 1px solid style.$color7;
    &::placeholder, & {
        color: style.$color1;
        font-size: 1.6rem;
        font-weight: 500;
    }
}

.itemInputDate {
    padding-right: 15px;
    &::-webkit-calendar-picker-indicator {
        width: 25px;
        height: 25px;
        cursor: pointer;
        opacity: 0;
    }
    
}

.item select {
    padding: 0 60px 0 20px;
    background-color: style.$color3;
    height: 60px;
    font-size: 1.8rem;
    font-weight: 500;
    width: 100%;
    border: 1px solid style.$color7;
    appearance: none;
}
    
.image {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 23px;
    filter: invert(100%);

    &Arrow {
        width: 16px;
        pointer-events: none;
        
    }
    
    &Calendar {
        pointer-events: none;
        
    }
}

.characterEmail {
    font-size: 18px;
    font-family: style.$fontFamily;
    font-weight: 500;
    filter: contrast(100%);
}