@use "/src/utils/variablesSCSS/variables" as style;


.aboutRestaurant {
    padding: 220px 0 130px;
    background-image: url(public/background/category_bg.jpg);
    .box {
        display: flex;
        justify-content: space-between;

    }
}

.info {
    width: 40%;
    
    .subtitle {
        text-transform: uppercase;
        font-size: 1.6rem;
        font-weight: 400;
        color: style.$color4;
        margin-bottom: 10px;
    }

    .title {
        font-family: style.$fontFamily;

        font-size: 4.2rem;
        font-weight: 400;
        margin-bottom: 30px;
    }

    .description {
        line-height: 28px;
        font-size: 1.6rem;
        color: style.$color5;
        margin-bottom: 30px;

    }
}

.coffee {
    display: flex;
    margin-bottom: 40px;
    .coffeeImage {
        width: 69px;
        height: 75px;
        margin-right: 30px;

    }
    .coffeeBlock {
        .coffeeDescription {
            font-family: style.$fontFamily;
            font-size: 2.4rem;
            margin-bottom: 10px;
        }
        .coffeeSubDescription {
            line-height: 28px;
            font-size: 1.6rem;
            color: style.$color5;
        }
    }
}


.service {
    margin-top: -60px;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
}

.serviceСard {
    background-color: style.$color3;
    width: 268px;
    height: 299px;
    text-align: center;
    padding-top: 40px;

    .serviceСardImageBox {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 130px;
        height: 130px;
        background-color: style.$color2;
        border-radius: 50%;
        margin-bottom: 20px;
        transition: 0.7s;

    }
    .serviceСardImage {
        max-width: 70px;
        max-height: 70px;
        background-color: rgba(0,0,0,0);

        transition: 0.7s;
        
    }
    .serviceСardName {
        font-family: style.$fontFamily;
        font-weight: 400;
        font-size: 2.4rem;
        margin-bottom: 10px;
    }
    .serviceСardDescription {
        font-size: 1.6rem;
        color: style.$color5;
    }

    &:nth-child(1) {
        margin-top: -60px;
    }

    &:nth-child(3) {
        margin-top: -60px;
    }

    &:hover {
        .serviceСardImageBox {
            background-color: style.$color4;
        }
        .serviceСardImage {
            filter: brightness(0) invert(1);
        }
    }
}