// @use "/src/utils/variablesSCSS/variables" as style;



$color1: #fff;
$color2: #0e1317;
$color3: #090c0f;
$color4: #b99272;
$color5: rgba(255, 255, 255, 0.6);
$color6: #454647;
$color7: #21282f;
$color8: #ff8a00;
$fontFamily: "Oswald", sans-serif;
$fontFamily1: "Merienda", sans-serif;
