@use "/src/utils/variablesSCSS/variables" as style;

.Form {
   padding: 80px 45px ; 
   background-color: style.$color3;
   border-top: 3px solid style.$color4;
}

.input {
    padding: 0 60px 0 20px;
    background-color: style.$color3;
    height: 60px;
    width: 100%;
    border: 1px solid style.$color7;
    &::placeholder, & {
        color: style.$color1;
        font-size: 1.6rem;
        font-weight: 500;
    }
}

.item {
    position: relative;
    margin-bottom: 15px;
}

.image {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 23px;
    filter: invert(100%);

}

.buttonWrapper {
    margin-top: 40px;
}