@use "/src/utils/variablesSCSS/variables" as style;



.Menu {
    background-color: style.$color2;
    .subTitle {
        margin-top: 130px;
        text-transform: uppercase;
        text-align: center;
        font-size: 1.6rem;
        color: style.$color4;
        margin-bottom: 10px;
    }
    .title {
        font-family: style.$fontFamily;
        font-size: 4.2rem;
        font-weight: 400;
        text-align: center;
        margin-bottom: 70px;
        font-weight: 400;
        
    }
}

.categoriesFilter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    .categoriesFilterItem {
        font-size: 1.4rem;
        color: #9ea1a2;
        margin: 0 10px;
        font-weight: 500;
        background-color: style.$color3;
        text-transform: uppercase;
        padding: 19px 30px;
        border-radius: 5px;
        cursor: pointer;
        &Active {
            background-color: style.$color4;
            color: style.$color1;
        }
    }
}
.menuList {
    padding: 0 0 130px 0;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 50px;
}