@use "/src/style/variables" as style;



.Menu {
    background-color: style.$color2;
    .sectionParallax {
        margin-bottom: 130px;
    }
    .sectionMenuFilter {
        margin-top: 70px;
    }
    
}


