@use "/src/utils/variablesSCSS/variables" as style;


.ContactsCardsBlock {
    display: flex;
    justify-content: space-between;
}

.cardItem {
    width: 366px;
    max-width: 366px;
    padding: 45px 45px 57px;
    background-color: style.$color3;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .cardItemImage {
        filter: invert(68%) sepia(12%) saturate(969%) hue-rotate(345deg) brightness(87%) contrast(90%);
        width: 65px;
        margin-bottom: 20px;
    }
    .cardItemName {
        font-size: 2.4rem;
        font-family: style.$fontFamily;
        margin-bottom: 20px;
    }
    .cardItemLine {
        margin: 30px 0;
        width: 132px;
        height: 1px;
        background-image: url(/public/icons/something/line.png);
    }
}

.cardItemInfo {
    line-height: 28px;
    color: style.$color5;
    font-size: 1.6rem;
}