@use "/src/style/variables" as style;


.DishCard {
    text-align: center;
    margin-bottom: 50px;
    .Image {
        position: relative;
        height: 317px;
        margin-bottom: 15px;
        border-radius: 5%;
        background-size: auto 100%;
        background-position: center ;
        transition: 0.7s;
        z-index: 2;
        &::before {
            position: absolute;
            display: block;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 3;
            transition: 0.7s;
            background: linear-gradient(rgb(9, 12, 15, 0), rgb(9, 12, 15, 0));

        }
    }
    .Name {
        margin-bottom: 10px;
        font-size: 2.5rem;
        letter-spacing: 1px;
        font-family: style.$fontFamily;
    }
    .Description {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
        overflow: hidden;
        font-weight: 400;
        font-size: 1.6rem;
        margin-bottom: 15px;
        color: style.$color5;
    }
    .Price {
        color: style.$color4;
        font-size: 2.4rem;
    }
}

.DishCard:hover {
    .Image{
        background-size: auto calc( 100% + 5%) ;
        &::before {
            background: rgba(185, 146, 114, 0.1);
    
        }
    }
    
}

.BottomBlock {
    padding: 0 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}



.addDish {
    display: none;
    cursor: pointer;
    padding: 10px 20px;
    background-color: style.$color4;
    border-radius: 5px;
    align-items: center;
    font-size: 1.8rem;
    &Active {
        display: flex;
    }
    .addDishImage {
        margin-left: 10px;
        height: 20px;
        filter: invert(100%);
    }
}

.Price {

}